<footer class="f rel">

    <img src="./img/fdec.svg" alt="" class="dec fdec">
    <div class="container">
        <div class="f_grid">
            <div class="f_col">
                <div class="f_title">Наши продукты:</div>
                <img src="./img/foot1.svg" alt="">
                <img src="./img/foot2.svg" alt="">
                <img src="./img/foot3.svg" alt="">
                <img src="./img/foot5.svg" alt="">
                <img src="./img/foot6.svg" alt="">
            </div>
            <div class="f_col">
                <div class="f_title">Контакты</div>
                <p><b>Call-центр ФРАНШИЗЫ</b></p>
                <div class="col--time">
                    с 8.00 до 20.00 <br>по времени г. Алматы
                </div>
                <a href="tel:+77273509955" class="col--phone">+7 727 350 99 55</a>
                
                <br>
                <br>
                <p><b>Call-центр УЧЁТ</b></p>
                <div class="col--time">
                    с 9.00 до 18.00 <br>по времени г. Алматы
                </div>
                <a href="tel:+77273507474" class="col--phone">+7 727 350 74 74</a>
            </div>

            <div class="f_col">
                <div class="f_title">Следите за нашими новостями</div>
                <div class="flex soclinks">
                    <a href="https://www.instagram.com/uchet.kz/?hl=ru" target="blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://t.me/s/uchet_kz" target="blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/user/uchetkz" target="blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    <a href="https://ru-ru.facebook.com/Uchet.kz/" target="blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                    <a href="https://vk.com/uchet_kz" target="blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>     
        <div class="copy">Задизайнено и свёрстано командой &copy;Учёт</div>   
    </div>
</footer>